/*
 * This file is provided for application-specific style rules.
 *
 * By default, Maqetta includes this CSS file within HTML pages
 * authored in Maqetta.
 *
 * This file is typically used to override style rules found in
 * theme CSS files. For example, suppose the theme CSS file has:
 *
 * .claro .dijitButton .dijitButtonNode {
 *		padding:2px 4px 4px 4px;
 * }
 *
 * But for your application suppose you want to tighten the padding
 * for buttons. Then, you might include the following style rule
 * in this file (assuming that you accept Maqetta's default where
 * id "myapp" is present on the BODY element, and assuming
 * that you are using the "claro" theme):
 *
 * #myapp.claro .dijitButton .dijitButtonNode {
 *		padding:1px 3px 3px 3px;
 * }
 *
 * Because of CSS precedence rules (see [1]), the above style rule
 * (which begins with #myapp.claro) will "win the cascade" versus 
 * the style rule from the theme CSS file due to the use of the
 * ID select (#myapp), which has higher specificity than the class
 * selectors used throughout the Claro theme.
 *
 * [1] http://www.w3.org/TR/CSS21/cascade.html#cascade
 */
html,body {
	height: 100%;
	width: 100%;
	margin: 0px !important;
}

#menu-izquierdo
{
float:left;
-margin-top:25px;
}

#menu-derecho
{
float:right;
width: 88px;
-margin-top:25px;
}

#items-menu-derecho
{
	margin: -20px;
	position: relative;
	left: 0px;
	display: block;
	float: left;
	margin-top: 20px;
	list-style-type:none;
}

ul li.menuIzquierdo{
	
	margin-bottom: 30px;
	margin-right: 50px;
	
}

#map_canvas{
left: 0px;
top:0px;
float:none;
-width:87%;
width:auto;
height:100%

}
#cabecera
{
background-image: -webkit-gradient(linear, left top, left bottom, from(#9b9696), to(#ebe9e9));
background-image: -o-linear-gradient(#9b9696, #ebe9e9);
background-image: -ms-linear-gradient(#9b9696, #ebe9e9);
background-image: -moz-linear-gradient(#9b9696, #ebe9e9);
background-image: -webkit-linear-gradient(#9b9696, #ebe9e9);
background-image: linear-gradient(#9b9696, #ebe9e9);
height: 72px;
z-index:10;
-border-bottom-color:#ff0000;
}

#logo
{
	position: absolute;
	left: 0px;
	top: 0px;
}


/* ------------------------------------------------- */
/* Estilos aplicados para la ventana de actividades  */
/* ------------------------------------------------- */
#mask {
  position:absolute;
  left: 0px;
  top: 0px;
  z-index:9000;
  background-color:#000;
  display:none;
}
   
#boxes .window {
  position:fixed;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:5px;
} 
 
/* Customize your modal window here, you can add background image too */
#boxes #dialog {
  width:375px; 
  height:203px;
  background-color:#FFFFFF;
  align:center;
}

#btnCerrar {
	margin-right: 5px;
	margin-top: 5px;
	float:right;
}

#headActivity{
	text-align: center;
}

#bodyActivity{
	float:left;
	width: 60%;
	height: 100%;
	background-color: #E6E6E6;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;	
}

#inteactionActivity{
	float:right;
	width: 39.5%;
	height: 100%;
	background-color: #FFFFFF;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border-style:solid;
	border-width:1px;
	border-color: #000000;
	overflow: auto;
}

#descriptionActivity{
	float:none;
	margin-top: 100px;
	text-align: center;
	background-color: #CCCDCC;
}

#myGaleria{
	position: absolute;
	bottom: 0px;
	margin-left: 10%;
	margin-bottom: 30px;	
}

.comentario {
	margin-top:30px;
    -background-color: #336699;    
   	background: #65a9d7;
   	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   	background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   	background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   	background: -o-linear-gradient(top, #3e779d, #65a9d7);
   	-webkit-border-radius: 8px;
   	-moz-border-radius: 8px;
   	border-radius: 8px;
   	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   	box-shadow: rgba(0,0,0,1) 0 1px 0;
   	text-shadow: rgba(0,0,0,.4) 0 1px 0;   
    width:76%;
    padding: 5px;
    float: left;
    color: #fff;
}

.bocado-izq {
	
	margin-top: 50px;
    border-bottom: 20px solid transparent;
    border-right: 25px solid #3e779d;
    border-top: 20px solid transparent;
    height: 0;
    width: 0;
    float: left;
}

.textComents{
width: 97%;
}

.userIcon{
	float: left;
	margin-top: 50px;
}

.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5.5px 11px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
   
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }


 